html, body {
    background: #c77f2e;
    color: #fff;
    height: 100%;
    width: 100%;
}

#wrapper {
    margin: 0 auto;
}

img {
    height: 240px;
    /* width: 280px; */
}

/* .jumbotron {
    height: 120px;
    font-size: 4em;
    font-weight: 900;
    padding-bottom: 0;
    margin-bottom: 75px;
}
.jumbotron h1 {
    margin: 0 auto;
    padding: 0;
} */

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background: rgba(255, 0, 0, 0.507);
}

img.character-image {
    width: 215px;
    height: 240px;
}
img.defender-character-image {
    width: 215px;
    height: 240px;
    background: darkred;
}
img.player-character-image {
    width: 215px;
    height: 240px;
    background: goldenrod;
}
img.enemies-available {
    width: 215px;
    height: 240px;
    background: red;
}



.huge-img {
    width: 340px;
    height: 400px;
}

.winner-font {
    font-weight: 900;
    font-style: italic;
    font-size: 1.3em;
}